gym==0.21
autorom==0.4.2
gym[atari]
gym[classic_control]
gym[accept-rom-license]
matplotlib==3.6.0
seaborn==0.12.1
IPython==8.5.0
ipykernel==6.16.0
ipywidgets==8.0.2
jupyter_client==7.3.5
jupyter_core==4.11.1
jupyter_server==1.21.0
nbclient==0.7.0
nbconvert==7.2.3
nbformat==5.7.0
notebook==6.5.2
qtconsole==5.4.0
traitlets==5.5.0
ffmpeg-python==0.2.0
unrar==0.4
torch==1.13.0
torchvision==0.14.0
torchaudio==0.13.0
stable-baselines3[extra]>=1.6.2
pyglet==2.0.0
